@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

body {
  font: 16px/26px "IBM Plex Sans", sans-serif;
  color: #191826;

  background-image: url("./assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 -208px;
}

header {
  margin: 40px 0 64px 24px;
}

header .logo {
  height: 32px;
}

header .bg-pattern {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  padding: 0 24px;
}

main > p {
  padding: 0 24px;
  margin: 20px 0 166px;
}

.background-card {
  height: 600px;
  background-color: #191826;
  border-radius: 12px;
  position: relative;
}

.background-card .bg-pattern {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.phone {
  height: 430px;
  position: absolute;
  top: -98px;
  left: calc(50vw - 105px);
}

.premium {
  height: 546px;
  border-radius: 12px;
  background-color: #fa7453;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  position: absolute;
  top: 380px;
  left: 0;

  padding: 48px 36px;
  color: #fcfaf9;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.premium > p {
  font-size: 18px;
  line-height: 28px;
}

.price {
  width: 165px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price strong {
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}

.price p {
  font-size: 20px;
  line-height: 32px;
}

button {
  width: 100%;
  height: 61px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.apple-btn {
  background-color: #191826;
}

.android-btn {
  color: #191826;
  background-color: #fcfaf9;
}

.disclamer {
  margin: 390px 0 64px;
  padding: 24px;
}

a {
  font-weight: 700;
}

.social {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 80px 24px;
}
